
.MainBody{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding-bottom: 100px;
    margin-left: 5%;
    margin-top:20px;
}

.MainBody h1{
   color:#f1f5f6;
   font-size: calc(3.5vw + 1em);
   left:250px;
   margin-top:auto;
   text-shadow:10px 5px 20px black;
   font-weight:bolder;
   
}
.MainBody img {
    background-color: transparent;
    height: auto;
    width:40vw;
    z-index: -1;
}
.MainBody .Model{
    width: 50%;
    margin:0px;
}
.MainBody .text{
    width: 50%;
    color:white;
    margin-left:150px;
    font-family: 'Courier New', Courier, monospace;
    margin:0px;
}
.MainBody p{
    font-size:1vw;
}
.MainBody h2{
    font-family:'Lastica';
    color:yellow;
    letter-spacing:3px;
    text-shadow: 2px 2px 5px black;
    font-size: 2vw;
}
.MainBody h3{
    margin-top:20px;
    font-family:'Lastica';
    color:yellow;
    letter-spacing:3px;
    text-shadow: 2px 2px 5px black;
    font-size: 3vw;
}
.text img{
    margin-top:30px;
    height:30px;
    width:auto;
    background-color: #fff;
    border-radius:25px;
    padding:5px;
}
.TextInner img{
    width: 5vw;
    height:auto;
}
/*Responsive */
@media screen and (max-width: 720px){
    .MainBody {
        left:20vw;
        top:50vw;
        color: aquamarine;
        flex-direction: column;

    }
    .MainBody .Model,
    .MainBody .text{
    width: 100%;
    margin-left: 0px;

  }
  .MainBody .Model img {
    width: 80%; 
    height: auto; 
    margin-left: 10%;
  }
  .MainBody .text p{
    font-size:3vw;
  }

  .MainBody h1 {
 
    font-size: calc(4vw + 1em);
    margin-left:20%;
  }
  .MainBody h1::after {
    left: 10vw; 
    top: 25vw; 
    font-size: 15vw; 
  }
    .text img{
        margin-left: auto;
        margin-right: auto;
    }
    .MainBody ::after{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}