@font-face{
    font-family: 'Lastica';
    src: url('Font/Lastica.ttf') format('Truetype');
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-image:linear-gradient(to bottom right,#0097b2,#132839, rgb(79, 29, 29));
    background-size: cover;
    font-family: 'Lastica';
    background-position: center;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color:#fff;
    font-size: 1.5rem;
}
a:hover{
    color:yellow;
    scale:1.05;
}
header{
    position:relative;
    padding:4rem 0.5rem;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}
.navBar{
    width: 100%;
    height:fit-content;
    margin:0 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border:2px solid wite;
}
.navBar .logo{
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    color:#fff;
    align-items: center;
    
}
.logo h3{
    padding-left: 5px;
    letter-spacing: 2px;
    font-size: 1rem;
}
.navBar .logo img{
    height: 50px;
    background-color:#0097b2;
    border-radius:50px;
}
.navBar .Options{
    display:flex;
    gap:2rem;
}
.navBar .toggle_btn{
    color:#fff;
    font-size: 1.5rem;
    cursor:pointer;
    display: none;
    
}
.Cart_Profile{
    display: flex;
}
.Cart img{
    background-color: transparent;
    height: 5vh;
    border-radius: 25px;
    background-color: white;
}
.Cart span{
    color:red;
    font-size:20px;
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.Cart button{
    margin-right:20px;
    position:relative;
    border-radius: 25px;
    background-color: none;
    border:none;
}
.toggle_btn .MenuBar img{
    height: 20px;
    background-color: #fff;
}
.action-btn{
    background-color: yellow;
    color: black;
    padding:0.5rem 1rem;
    border:none;
    border-radius:20px;
    font-size:0.8rem;
    font-weight:bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action-btn:hover{
    scale:1.05;
}
.action-btn:active{
    scale:0.95;
}
/*Form Login/Register */
.ProfileView{
    position: absolute;
    display: none;
    width: 300px;
    height: 450px;
    top:25%;
    left:auto;
    right:100px;
    backdrop-filter:blur(25px);
    background-color:transparent;
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
}
#imgbtn{
    border-radius: 50px;
    height: auto;
    width:45px;
    background-color:#0097b2;
    margin-right:20px;
 
}
#profile-button{
    background-color: transparent;
    border-radius: 50px;
    border:none;
}
#profile-button :hover{
    background-color:white;
}
.ProfileView iframe{
    width: 300px;
    height: 450px;
    top:20px;
    left:auto;
    right:50px; 
    backdrop-filter:blur(100%);  
    border:none;
    background-color: #132839;
}

.ProfileView .ex{
    position: absolute;
    height: 20px;
    background-color: red;
    border-radius: 10px;
}
.ProfileView button{
    position: absolute;
    background-color: transparent;
    margin-top: 0%;
    bottom:auto;
    left:0px;
    margin-left: 0%;
    right:auto;
    z-index:1;
    border-radius: 10px;
    border: none;
}
@media (max-width: 768px){
    .ProfileView{
        left:10vw;

    }
}
@media (max-width:576px){
    .ProfileView{
        left:10vw;

    }
}
/* Side Panel Cart */
.MainBody.side-panel-open .side-panel {
    display: block;
}
.side-panel{
    position: absolute;
    display: none;
    margin-top:20px;
    width: 40vw; 
    height: auto; /* Maintain aspect ratio */
    aspect-ratio: 16 / 9; /* Set desired aspect ratio */
    padding:20px;
    color:#fff;
    background-image:linear-gradient(to bottom,#132839, #0097b2,lightgrey,lightgrey,lightgrey,lightgrey );
    border-radius:10px;
    box-shadow: 0 0 10px white;
    left: auto;
    right:10px;
    z-index:2;
    border:5px solid black;
}
.side-panel .panelHead{
    position: absolute;
    background-color:black;
    border-radius: 10px;
    box-shadow: 2px 3px 5px white;
    top:0px;
    left:0px;
    height: 100px;
    width: 100%;
    z-index: -1;
}
.side-panel-open .side-panel {
    display: initial;
  }
  .side-panel-toggle {
    cursor: pointer;
    transition: 0.6s ease;
  }
  .side-panel .CartFrame{
    margin:0;
    padding:0;
    object-fit: contain;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .side-panel .CartFrame iframe{
    object-fit: contain;
    width: 100%;
    height:70vh;
    border:none;
  }
  /* responsive side panel*/
  @media (max-width: 768px) {
    .side-panel {
        width: 90vw; 
        height: auto;
        padding: 10px;
    }
    .side-panel .panelHead{
        height:15%;
    }
    .Cart{
        margin-left:110px;
        right:0px;
    }
    .side-panel .CartFrame{
        left:0px;
        right:auto;
    }
    .side-panel .CartFrame iframe{
        margin-left:0px;
    }
}

/*Dropdown*/
.Dropdown{
    display: none;
    position:absolute;
    right:2rem;
    top:70px;
    width:300px;
    height:0px;
    background-color: black, 0.1;
    backdrop-filter: blur(15px);
    border-radius:10px;
    overflow:hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.Dropdown.open{
    height: 350px;
}
.Dropdown li{
    padding:0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Dropdown .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*Responsive Design*/
@media screen and (max-width: 720px){
    .navBar .Options,
    .navBar .action-btn, .navBar .Profile{
        display:none;
    }

    .navBar .toggle_btn{
        display: block;
        margin-right:10px;
    }
    .Dropdown{
        display: block;
        z-index: 1;
    }
}
@media (max-width:576px){
    .Dropdown{
        left:2rem;
        width: unset;
    }
}
.MainBody .Row{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}
.Row h1{
    position: absolute;
    margin-top: auto;
    margin-left:35vw;
    color:yellow;
    font-size: 1.5vw;
    border:2px solid rgb(249, 249, 249);
    letter-spacing: 5px;
    padding:10px 30px 10px 30px;
    margin-top:0px;
    box-shadow: 10px 10px 0px black;
    
}
.MainBody .Row .Row1{
    position: relative;
    display:flex;
    justify-content:space-evenly;
    margin-top: 90px;
    flex-wrap: wrap;
    padding: 0px;
    margin-bottom: 0;

}
.MainBody .Row .Row2{
    position: relative;
    display:flex;
    justify-content:space-evenly;
    margin-top: 90px;
    flex-wrap: wrap;
    margin-bottom: 0;
}
.Row img{
    height: 25vh;
    max-width:auto;
    border-radius: 25px;
    background-color: transparent;
    box-shadow: 2px 0 30px black;
}
.Row .RowItem1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
    box-shadow: 2px 0 30px black;
    border-radius: 25px;
    transition: transform 0.5s ease-in-out;
    
}
.Row .RowItem1:hover{
    transform: scale(1.05);
    border-radius:15px;
}
.RowItem1 .add-cart{
    padding:10px;
    border-radius: 25px;
    background-color: red;
    color:#fff;
    border:none;
    box-shadow: 1px 2px 3px black;
    width: 50%;
    margin-right: auto;
    margin-left:50%;
}
.RowItem1 .add-cart:hover{
    background-color: yellow;
    color:black;
}

.RowItem1 span{
    color:yellow;
}
/*Responsive Items */
@media screen and (max-width: 720px), screen and (max-width:920){
    .Row h1{
        margin-left:10%;
        margin-bottom: 0;
        padding:10px 50px;
        font-size: 4vw;
        letter-spacing: normal;
    }
    .Row1 .RowItem1 img{
        max-width: auto;
        height:30vw;
    }
    .Row1 .RowItem1{
        padding-top:55px;
        background-color: none;
        box-shadow: none;
    }
    .Row1{
        margin-bottom: 0;
        background-color: none;
        box-shadow: none;
    }
    .Row2 .RowItem1 img{
        max-width: auto;
        height:30vw;
    }
    .Row2 .RowItem1{
        padding-bottom: 50px;
        background-color: none;
        box-shadow: none;
    }

}
/* Product Details */
.Container {
    position: relative; 
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius:25px;
    margin:0px;
  }
  
  .slide {
    display: none; 
    width: 100%; 
    height: 100%;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%); 
    width: auto;
    padding: 2px;
    color: red;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    z-index: 1;
  }
  
  .next {
    right: 0;
  }
  
  .prev {
    left: 0;
  }
/*Footer Section */
.mainFoot{
    background-color: black;
    height:150px;
}
.footer1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height:100px;
    width: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    background-color: black;
}
.socialMedia{
    order:2;
    margin-right:50px;
}
.socialMedia ul{
    padding:0;
}
.socialMedia ul li{
    display: inline-block;
    list-style: none;
    padding:5px;
}
.footer1 .socialMedia img{
    border-radius:50px;
    background-color: #fff;
    width:20px;
}
.contact{
    margin-left:auto;
    margin-right:50px;
}
.copyright{
    border-top:1px solid white;
    color:white;
    font-family:arial;
    text-align: center;
    padding:20px;
}
.mainFoot{
    background-color: black;
    height:150px;
}

.footer1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height:100px;
    width: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    background-color: black;
}
.footer1 .developer{
    margin-left:10px;
}
.socialMedia{
    order:2;
    margin-right:50px;
}
.socialMedia ul{
    padding:0;
}
.socialMedia ul li{
    display: inline-block;
    list-style: none;
    padding-left:5px;
}
.socialMedia ul li:hover{
    background-color: yellow;
    border-radius:50px;
}
.footer1 .socialMedia img{
    border-radius:50px;
    background-color: #fff;
    width:20px;
}
.contact{
    margin-left:auto;
    margin-right:50px;
}
.copyright{
    border-top:1px solid white;
    color:white;
    font-family:arial;
    text-align: center;
    padding:20px;
}
/*Responsive Footer*/
@media screen and (max-width: 720px){
    .footer1{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
