*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.MainBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.ProfileAcct{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height:400px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-shadow: 5px 1px 5px black;
    background-size: cover;
   
    
}
.ProfileAcct h2{
    text-align:center;
    padding:5px;
    color:yellow;
    border-radius:10px;
    background-color: black;
    
}
.div1{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
 
}
.div2{
  padding:25px;
}
.ProfileAcct .prf{
  padding:20px 10px;
  border-bottom: 2px solid rgb(244, 240, 240);
  margin-top: 20px;
}
.ProfileAcct img{
  height:50px;
  margin-right: 115px;
  margin-left:auto;
  background-color: aqua;
  border-radius:50px;
}
#logoutBTN{
  border-radius:25px;
  color:white;
  background-color: black;
  padding:5px;
  margin-top:10px;
}